# ======================
# Python
# ======================
.venv/
__pycache__/
*.pyc
*.pyo

# ======================
# Database
# ======================
*.db
*.sqlite3

# ======================
# Uploads / runtime files
# ======================
uploads/

# ======================
# Environment
# ======================
.env

# ======================
# Logs
# ======================
*.log
